node_modules
.idea/
.idea
.idea/vcs.xml
data/
.DS_Store
.history/
.vscode/settings.json
config.js
*.sh
*.icloud
d111ocker-coe.yaml
.gitignore
arrowclient/dist/
firebase.config.js
digitalocean/digitalocean.pub
digitalocean/digitalocean
arrowclient/neo4j
.env
