body {
    background: black;
    color: whitesmoke;
    font-size: 16pt;
    font-family: Verdana;
    margin: 0;
}

#tasks {
    
}
.list{
    margin: auto;
    text-align: left;
    width: 600px;
}

select{
    font-size: 20px;
    background: black;
    color: white;
}


option:checked { 
    color: red; 
}
#taskheader {
position: fixed;
top:50;
background: black;
}

.newtask {
    font-style: italic;
}

.tags {
    font-size: 10pt;
    font-style: italic;
}

.tag {
    font-size: 10pt;
    font-style: italic;
    background: #333;
    padding: 2px;
    color: grey;
}

.opns{

}
.opn{
    font-size: 10pt;
    font-style: italic;
    background: #333;
    padding: 2px;
    color: grey;
}
.arr{
    font-size: 10pt;
}
.ready {
    border-radius: 0px;
    /* background: #121 !important; */
    /* color: palegreen !important; */
    border-RIGHT: solid 7px palegreen !important;
}

.nonblocked {
    background: none;
}

input[type="checkbox"] {
    vertical-align: middle;
    width: 50px; /*Desired width*/
    height: 50px; /*Desired height*/
    cursor: pointer;
}



.editor {
    margin-top:250px;
    /* top: 0; */
    /* position: fixed; */
    font-size: 20pt;
}

.input {
    border: none;
    font-size: 10pt;
    background: #333;
    color: whitesmoke;
}
.text{
    width: 100%;
    /* margin: 0px 15px; */
    background-color: transparent;
    border: none;
    color: white;
    text-align: left;
    font-size: 42pt;
    padding-right: 20px;
}

.text:hover {
    cursor: pointer;   
}

.inputtags {

}

.inputtext:focus {
    /* color:red; */
    width: 200%;
    height: 300px;
}
.clock{
    position: fixed;
    bottom:40px;
    right:0;
}
#status{
    position: fixed;
    right:0;
    top:60px;
}
.date{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
}
/* .blue{
    background-color: #000015;
    border-right: 5px solid darkblue;
}
.red{
    background-color: #150000;
    border-right: 5px solid darkred;
}
.purple{
    background-color: #150015;
    border-right: 5px solid darkmagenta;
}
.yellow{
    background-color: #151500;
    border-right: 5px solid darkgoldenrod;
}
.green{
    background-color: #001500;
    border-right: 5px solid darkgreen;
}
.cyan{
    background-color: #001515;
    border-right: 5px solid darkcyan;
}
.grey{
    background-color: #090909;
    border-right: 5px solid darkgrey;
}
.white{
    background-color: #000000;
     border-right: 5px solid darkgreen;
} */
.steel{
    border-left: 7px solid steelblue;

}
.blue{
    border-left: 7px solid darkblue;
}
.red{

    border-left: 7px solid darkred;
}
.purple{

    border-left: 7px solid darkmagenta;
}
.yellow{

    border-left: 7px solid darkgoldenrod;
}
.green{

    border-left: 7px solid darkgreen;
}
.cyan{

    border-left: 7px solid darkcyan;
}
.grey{

    border-left: 7px solid darkgrey;
}
.white{
    /* background-color: #000000; */
    /* border-right: 5px solid darkgreen; */
}
.cantdo {
    color: grey;
}
.selected {
    background-color: #232333;
    /* background-color: #011619; */
    /* border-right: 5px solid whitesmoke; */
    /* border-radius: 0; */
}

.delete{
}
input{
    font-size: 10pt;
}
button{
    font-size: 12pt;
    border-radius: 10px;
}
.selected .text{
}