* {
  touch-action: manipulation;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: whitesmoke;
  /* /* font-size: 16pt; */
  font-family: Verdana;
  margin: 0;
  overflow-x: hidden;
}

.justClicked {
  background-color: lightblue !important;
  /* border: 1px solid blue !important; */
}

.justClicked2 {
  background-color: lightgreen !important;
}

.nondisplay {
  background: red;
  display: none;
}

.list {
  max-width: 80ex;
  margin: auto;
  text-align: left;
}

select {
  width: 100%;
  /* font-size: 20px; */
  /* background: black; */
  color: black;
}

option {
  background: black;
  color: white;
}

option:checked {
  /* color: red;  */
}

#taskheader {
  /* position: fixed; */
  top: 25px;
  background: black;
}

.newtask {
  /* font-style: italic; */
}

#scrollTopButton {
  position: fixed;
  bottom: 10px;
  right: 0;
  background: black;
  color: white;
}

.opns {}

.opn {
  text-align: left;
  width: 90%;
  font-size: 10pt;
  font-style: italic;
  background: #333;
  margin: 2px;
  padding: 0;
  color: grey;
  border: none;
  border-radius: 0;
  margin-right: 6px;
}

.arr {
  font-size: 10pt;
  margin-left: 10px;
}

.ready {
  border-radius: 0px;
  /* background: #121 !important; */
  /* color: palegreen !important; */
  border-RIGHT: solid 7px palegreen !important;
}

.nonblocked {
  background: none;
}

input[type="checkbox"] {
  vertical-align: middle;
  cursor: pointer;
}

.editor {
  text-align: right;
  background: #232333;
  /* margin-top:100px; */
  /* top: 0; */
  /* position: fixed; */
  /* font-size: 20pt; */
}

.input {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  border: none;
  font-size: 11pt;
  background: #333;
  color: whitesmoke;
}

.clock {
  position: fixed;
  width: 80ex;
  width: 100%;
}

.clock input {
  margin: 0;
  max-width: 80ex;
}

.mainbutton {
  margin-right: 10px;
}

.clock .timebutton {
  top: 0px;
  right: 0px;
  position: absolute;
}

#status {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.date {
  padding: 1px;
  background: #222;
  text-align: center;
  font-size: 12pt;
  color: gray;
  display: block;
}

.first {
  border-left: 7px solid #AAFF00;
}

.second {
  border-left: 7px solid #FFAA00;
}

.third {
  border-left: 7px solid #FF00AA;
}

.forth {
  border-left: 7px solid #AA00FF;
}

.fifth {
  border-left: 7px solid #00AAFF;
}

.sixth {
  border-left: 7px solid darkgreen;
}

.seventh {
  border-left: 7px solid rgb(47, 25, 0);
}

.eighth {
  border-left: 7px solid darkblue;
}

.ninth {
  border-left: 7px solid white;
  border-left: 7px solid darkgoldenrod;
}

.tenth {
  border-left: 7px solid rgb(234, 60, 83);
  border-left: 7px solid rgb(167, 228, 212);
}

.eleventh {
  border-left: 7px solid gray;
}

.twelfth {
  border-left: 7px solid rgb(84, 100, 92);
}

.cantdo {
  border-color: #333;
}

.selected {
  background-color: #232333;
  /* background-color: #011619; */
  /* border-right: 5px solid whitesmoke; */
  /* border-radius: 0; */
}

.delete {}

input {
  font-size: 10pt;
  background: white;
}

button {
  background-color: darkgray;
  color: black;
  font-size: 12pt;
  border-radius: 10px;
  padding: 0;
  padding-left: 2px;
}

.timebutton {
  font-family: arial;
  border: none;
  color: black;
  background-color: lightgray;
  padding: 2px 2px 2px 2px;
  border-radius: 0;
  margin: 8px 0px 0px 10px;
}

.red {
  /* background-color: #150000; */
  border-bottom: 5px solid darkred;
}

/* #f1 {
    position: fixed;
    right: 0
} */

.selected .text {}

.headdate {
  /* color: black;
  background-color: #10a6d2;
  border-left: 7px solid #10a6d2; */
}

.time {
  font-family: monospace;
  text-align: left;
  width: 10%;
  padding-left: 25px;
}

.bottom {
  font-size: 16px;
  font-style: italic;
  font-family: monospace;
}

.selected .opn {
  background: transparent;
  margin: 0;
  /* margin-left: 28pt; */
  color: white;
  /* display: block; */
  font-style: normal;
  font-size: 14pt;
}

.text {
  padding-left: 5px;
  background-color: transparent;
  border: none;
  color: white;
  text-align: left;
  font-size: 14pt;
  /* padding-right: 20px; */
}

.text:hover {
  cursor: pointer;
}

.bul {
  line-height: 0;
  font-size: 18pt;
  font-family: monospace;
  padding: 5px;
}

.tag {
  /* background: #333; */
  color: grey;
  border: none;
  border-radius: 0;
  display: inline;
}