* {
    touch-action: manipulation;
    margin:0;
    padding:0;
}

body {
    background: black;
    color: whitesmoke;
    /* /* font-size: 16pt; */
    font-family: Verdana;
    margin: 0;
    overflow-x:hidden;
}

.list {
    margin: auto;
    text-align: left;
}

select {
    width: 100%;
    /* font-size: 20px; */
    background: black;
    color: white;
}

option {}

option:checked {
    /* color: red;  */
}

#taskheader {
    /* position: fixed; */
    top: 25px;
    background: black;
}

.newtask {
    font-style: italic;
}

.tags {
    font-size: 10pt;
    font-style: italic;
}

.tag {
    font-size: 10pt;
    font-style: italic;
    background: #333;
    padding: 2px;
    color: grey;
}

.opns {}

.opn {
    font-size: 10pt;
    font-style: italic;
    background: #333;
    padding: 2px;
    color: grey;
}

.arr {
    font-size: 10pt;
}

.ready {
    border-radius: 0px;
    /* background: #121 !important; */
    /* color: palegreen !important; */
    border-RIGHT: solid 7px palegreen !important;
}

.nonblocked {
    background: none;
}

input[type="checkbox"] {
    vertical-align: middle;
    cursor: pointer;
}

.editor {
    /* margin-top:100px; */
    /* top: 0; */
    /* position: fixed; */
    /* font-size: 20pt; */
}

.input {
    width: 100%;
    border: none;
    font-size: 10pt;
    background: #333;
    color: whitesmoke;
}

.text {
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    text-align: left;
    font-size: 14pt;
    padding-right: 20px;
}

.text:hover {
    cursor: pointer;
}

.inputtags {}

/* .inputtext:focus {
    width: 200%;
    height: 300px;
} */

.clock {
    position: fixed;
    top: 0px;
    left: 0;
}

#status {
    position: fixed;
    right: 0;
    top: 0px;
}

.date {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
}

.first {
    border-left: 7px solid steelblue;
}

.second {
    border-left: 7px solid darkblue;
}

.third {
    border-left: 7px solid darkmagenta;
}

.forth {
    border-left: 7px solid darkred;
}

.fifth {
    border-left: 7px solid darkgoldenrod;
}

.sixth {
    border-left: 7px solid darkgreen;
}

.seventh {
    border-left: 7px solid darkcyan;
}

.eighth {
    border-left: 7px solid rgb(110, 116, 81);
}

.ninth {
    border-left: 7px solid rgb(187, 130, 133);
    /* background-color: #000000; */
    /* border-right: 5px solid darkgreen; */
}

.tenth {
    border-left: 7px solid darkgrey;
    /* background-color: #000000; */
    /* border-right: 5px solid darkgreen; */
}

.cantdo {
    color: grey;
}

.selected {
    background-color: #232333;
    /* background-color: #011619; */
    /* border-right: 5px solid whitesmoke; */
    /* border-radius: 0; */
}

.delete {}

input {
    font-size: 10pt;
}

button {
    background-color: darkgray;
    color: black;
    font-size: 12pt;
    border-radius: 10px;
    padding: 0;
}
.timebutton{
    padding: 1px 7px 2px;
}

.selected .text {}