body {
    background: black;
    color: whitesmoke;
    font-size: 16pt;
    font-family: Verdana;
    margin: 0;
}

#tasks {
    
}
.list{
    margin: auto;
    text-align: left;
    width: 600px;
}



#taskheader {
position: fixed;
top:0;
background: black;
}

.newtask {
    font-style: italic;
}

.tags {
    font-size: 10pt;
    font-style: italic;
}

.tag {
    font-size: 10pt;
    font-style: italic;
    background: #333;
    padding: 2px;
    color: grey;
}

.opns{

}
.opn{
    font-size: 10pt;
    font-style: italic;
    background: #333;
    padding: 2px;
    color: grey;
}
.arr{
    font-size: 10pt;
}
.ready {
    color: palegreen !important;
}

.nonblocked {
    background: none;
}

input[type="checkbox"] {
    vertical-align: middle;
    width: 50px; /*Desired width*/
    height: 50px; /*Desired height*/
    cursor: pointer;
}



.editor {
    top: 0;
    position: fixed;
    font-size: 20pt;
}

.input {
    border: none;
    font-size: 10pt;
    background: #333;
    color: whitesmoke;
}
.text{
    width: 80%;
    margin: 0px 15px;
    background-color: transparent;
    border: none;
    color: white;
    text-align: left;
    font-size: 16pt;
}

.text:hover {
    cursor: pointer;
    
}

.inputtags {

}

.inputtext {

}
.clock{
    position: fixed;
    top:40px;
    right:0;
}
#status{
    position: fixed;
    right:0;
    top:60px;
}
.date{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
}
.red{
    background-color: #150000;
    border-right: 5px solid darkred;
}
.cantdo {
    color: grey;
}
.selected {
    background-color: #011619;
    /* margin-left: -10px; */
    /* border-left: 10px solid #38a1ca; */
}
.delete{
}