* {
  touch-action: manipulation;
  margin: 0;
  padding: 0;
  border-spacing: 0;
}

body {
  background: #000510;
  color: whitesmoke;
  text-align: center;
  font-family: 'Inter', Verdana;
  margin: 0;
  overflow-x: hidden;
}

table {
  width: 100%;
}

#tasks {
  margin-top: 20px;
  background: black;
}

td.taskmarker {
  border-bottom: 4px solid black;
  border-top: 4px solid black;
  width: 7px;
}

.nondisplay {
  background: red;
  display: none;
}

.list {
  max-width: 80ex;
  margin: auto;
  text-align: left;
}

select {
  width: 100%;
  /* font-size : 20px; */
  /* background: black; */
  color: black;
}

option {
  background: black;
  color: white;
}

option:checked {
  /* color: red;  */
}

#taskheader {
  /* position: fixed; */
  top: 25px;
  background: black;
}

.newtask {
  /* font-style: italic; */
}

#scrollTopButton {
  position: fixed;
  bottom: 10px;
  right: 0;
  background: black;
  color: white;
}

.opns {}

.opn {
  text-align: left;
  background: none;
  margin: 2px;
  padding: 0;
  color: grey;
  border: none;
  border-radius: 0;
  margin-right: 6px;
}

.arr {
  font-size: 10pt;
  margin-left: 10px;
}

.nonblocked {
  background: none;
}

input[type="checkbox"] {
  vertical-align: middle;
  cursor: pointer;
}

.editor {
  text-align: right;
  background: #232333;
  padding-top: 10px;
}

.input {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  border: none;
  font-size: 11pt;
  background: #333;
  color: whitesmoke;
}

input {
  font-family: 'Inter', sans-serif;
  font-size: 12pt;
  border: none;
  background: white;
}

.clock .timebutton {
  top: 0px;
  right: 0px;
  position: absolute;
}

#status {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.date {
  padding: 1px;
  background: #222;
  text-align: center;
  font-size: 12pt;
  color: gray;
  display: block;
}

.first {
  background-color: #FFAA00;
}

option.first {
  padding-left: 5px;
  background: black;
  border-left: 7px solid #FFAA00;
}

.second {
  background: #FF00AA;
  /* border-left: 7px solid #522; */
}

option.second {
  padding-left: 5px;
  background: black;
  border-left: 7px solid #FF00AA;
}

.third {
  background: #AA00FF;
}

option.third {
  padding-left: 5px;
  background: black;
  border-left: 7px solid #AA00FF;
}

.forth {
  background: #00AAFF;
}

option.forth {
  padding-left: 5px;
  background: black;
  border-left: 7px solid #00AAFF;
}

.fifth {
  background: darkgreen;
}

option.fifth {
  padding-left: 5px;
  background: black;
  border-left: 7px solid darkgreen;
}

.seventh {
  border-left: 7px solid rgb(47, 25, 0);
}

.eighth {
  border-left: 7px solid darkblue;
}

.ninth {
  border-left: 7px solid white;
  border-left: 7px solid darkgoldenrod;
}

.tenth {
  border-left: 7px solid rgb(234, 60, 83);
  border-left: 7px solid rgb(167, 228, 212);
}

.eleventh {
  border-left: 7px solid gray;
}

.twelfth {
  border-left: 7px solid rgb(84, 100, 92);
}

.past {
  background-color: #AAFF00;
}

.cantdo {
  background: #333;
}

.task {
  margin-left: 7px;
}

.selected {
  background-color: #232333;
  border-radius: 0;
}

.delete {}

button {
  background-color: none;
  color: black;
  font-size: 12pt;
  border-radius: 10px;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.timebutton {
  border: 4px solid #232333;
  text-align: center;
  width: 20%;
  color: black;
  background-color: lightgray;
  padding: 2px 5px 2px 5px;
  border-radius: 0;
  display: inline-block;
  vertical-align: bottom;
}

.priorbutton {
  display: inline-block;
  text-align: center;
  width: 19%;
  border: none;
  color: black;
  background-color: lightgray;
  padding: 2px 0px 2px 0px;
  border-radius: 0;
  margin: 8px 0px 0px 0px;
  vertical-align: bottom;
}

.red {
  background-color: darkred;
  border-bottom: 5px solid darkred;
}

/* #f1 {
    position: fixed;
    right: 0
} */

.selected .text {}

.headdate {
  /* color: black;
  background-color: #10a6d2;
  border-left: 7px solid #10a6d2; */
}

.bottom {
  font-size: 16px;
  font-style: italic;
  font-family: monospace;
}

.selected .opn {
  background: transparent;
  margin: 0;
  color: white;
  font-style: normal;
  font-size: 14pt;
}

.text {
  word-break: break-word;
  background: none;
  border: none;
  color: white;
  text-align: left;
  font-size: 13.5pt;
}

.text:hover {
  cursor: pointer;
}

.bul {
  line-height: 0;
  font-size: 13.5pt;
  font-family: 'Inter', sans-serif;
  padding: 5px;
}

.tag {
  width: auto;
  /* background: #333; */
  color: grey;
  border: none;
  border-radius: 0;
  display: inline;
}

.t1 {
  font-size: 13.3pt;
  transform: translateX(-50%);
  position: fixed;
  top: 0;
  max-width: 72.2ex;
  font-family: 'Inter', sans-serif;
}

.time {
  font-family: monospace;
  text-align: left;
}

.autocomplete {
  width: 100%;
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  color: black;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.justClicked {
  background-color: lightblue;
  /* border       : 1px solid blue !important; */
}

.justClicked2 {
  background-color: lightgreen;
}

label.mainbutton.timebutton {
  text-align: center;
  display: inline-block;
}

.timebuttons:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.timebuttons {
  text-align: justify;
  margin-bottom: -12pt;
}

.dateinp {
  min-width: 24%;
  margin: 2px;
}

.mainbutton {
  background: cadetblue;
  margin: 2px;
  width: auto;
  padding: 4px;
}

.ready {
  color: lightgreen;
}

.radiopriority {
  margin: -4px;
  border: 4px solid #232333;
  width: 20%;
}

.bfirst {
  border-bottom-color: #FFAA00;
}

.bsecond {
  border-bottom-color: #FF00AA;
}

.bthird {
  border-bottom-color: #AA00FF;
}

.bforth {
  border-bottom-color: #00AAFF;
}

.bfifth {
  border-bottom-color: darkgreen;
}

input[type=radio] {
  display: none;
}

input[type=radio]+label {
  width: 100%;
  display: inline-block;
}

input[type=radio]:checked+label {
  background: rosybrown;
}

label.readylabel {
  -webkit-box-sizing: border-box;
  /* Safari, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.calendar3 {
  background: #222;
  width: 100%;
  text-align: center;
}

.calendar3 thead tr:last-child {
  font-size: small;
  color: rgb(85, 85, 85);
}

.calendar3 tbody td {
  color: rgb(44, 86, 122);
}

.calendar3 tbody td:nth-child(n+6), #calendar3 .holiday {
  color: rgb(231, 140, 92);
}

.calendar3 button.calendarblock.planed {
  /* background: blanchedalmond; */
  background: darkslategray;
}

.calendar3 button.calendarblock.today {
  background: lightcoral;
}

.calendar3 button.calendarblock.highlightedday {
  background: #FFAA00;
}

.calendarblock {
  color: whitesmoke;
  background-color: transparent;
  border-radius: 0;
  width: 100%;
  border: none;
}