@media (prefers-color-scheme: light) {
    :root {
        --background-main: #FFFFFF;
        --background-table: #f0f0f0;
        --background-area: #e0e0e0;
        --background-button: white;
        --color-main: #000000;
        --color-contrast: black;
        --old: #d57575;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --background-main: #000000;
        --background-table: #222;
        --background-area: #333;
        --background-button: lightgray;
        --color-main: #FFFFFF;
        --color-contrast: black;
        --old: #995151;
    }
}

:root {
    --first: #CC2936;
    --second: #FFAD05;
    --third: #23CE6B;
    --forth: #2991BD;
    --ninth: #F4E4BA;
}

* {
    color: var(--color-main);
    touch-action: manipulation;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

body {
    touch-action: pan-y;
    color: var(--color-main);
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
    background: var(--background-main);
}

div {
    color: var(--color-main);
    font-family: 'IBM Plex Sans', sans-serif;
}

table {
    width: 100%;
}
table.selected{
    word-wrap: anywhere;
}

#tasks {
    margin-top: 27px;
}

.search {
    font-size: 13.5pt;
    position: fixed;
    left: 50%;
    top: 0;
    max-width: 40em;
    width: 100%;
    transform: translateX(-50%);
}


td.taskmarker {
    border-bottom: 5px solid var(--background-main);
    border-top: 5px solid var(--background-main);
    width: 0.5em;
}

.nondisplay {
    display: none;
}

.list {
    font-size: 13.5pt;
    max-width: 40em;
    margin: auto;
    text-align: left;
}

select {
    width: 100%;
    /* font-size : 20px; */
    /* background: black; */
    /* color: black; */
}

option {
    /* background: var(--background-main); */
    /* color: white; */
}

option:checked {
    /* color: red;  */
}

#taskheader {
    /* position: fixed; */
    top: 25px;
    /* background: var(--background-main); */
}

.newtask {
    /* font-style: italic; */
}

#scrollTopButton {
    position: fixed;
    bottom: 15px;
    left: 15px;
    /* background: var(--background-main); */

}
.text {
    word-break: break-word;
    background: none;
    border: none;
    /* color: white; */
    text-align: left;
    font-size: 13.3pt;
}

.text:hover {
    cursor: pointer;
}

.opn {
    font-size: 10.8pt;
    text-align: left;
    background: none;
    margin: 2px;
    padding: 0;
    color: grey;
    border: none;
    border-radius: 0;
}

.arr {
    font-size: 10pt;
    margin-left: 10px;
}

.nonblocked {
    background: none;
}

input[type="checkbox"] {
    vertical-align: middle;
    cursor: pointer;
}

.editor {
    text-align: center;
    background-color: var(--background-table);
    padding-top: 1px;
}


input {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12pt;
    border: none;
    color: var(--color-contrast);
    /* background: white; */
}

.clock .timebutton {
    top: 0px;
    right: 0px;
    position: absolute;
}

#status {
    /* display: none; */
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    padding: 2px;
    border: 2px solid var(--background-table);
    background-color: var(--background-main);
}

.bul {
    line-height: 0;
    font-size: 13.5pt;
    font-family: 'Inter', sans-serif;
    padding: 5px;
}

.tag {
    font-size: 10.8pt;
    width: auto;
    font-family: 'Inter', sans-serif;
    /* background: #333; */
    color: grey;
    border: none;
    border-radius: 0;
    display: inline;
}

.first {
    background-color: var(--first);
}

.first-color {
    color: var(--first);
}

option.first {
    padding-left: 5px;
    background: black;
    border-left: 7px solid #FFAA00;
}

.second {
    background-color: var(--second);
}

.second-color {
    color: var(--second);
}

option.second {
    padding-left: 5px;
    background: black;
    border-left: 7px solid #FF00AA;
}

.third {
    background: var(--third);
}

.third-color {
    color: var(--third);
}

option.third {
    padding-left: 5px;
    background: black;
    border-left: 7px solid #AA00FF;
}

.forth {
    background: var(--forth);
}

.forth-color {
    color: var(--forth);
}

option.forth {
    padding-left: 5px;
    background: black;
    border-left: 7px solid #00AAFF;
}

.fifth {
    background: #1B9AAA;

    background: #FFC43D;
}

option.fifth {
    padding-left: 5px;
    background: black;
    border-left: 7px solid darkgreen;
}

.sixth {
    background: #EDD382;
}

.seventh {
    background: #EF7B45;
}

.eighth {
    background: #D84727;
}

.ninth {
    background: var(--ninth);
}

.tenth {
    background: #37174F;
}


.cantdo {
    background: #333;
}


.selected {
    background: var(--background-table);
    border-radius: 0;
}

.delete {}

button {
    background-color: none;
    /* color: black; */
    font-size: 12pt;
    border-radius: 10px;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

.timebutton {
    max-height: 2em;
    overflow: hidden;
    border: 4px solid var(--background-area);
    text-align: center;
    width: 20%;
    color: var(--color-contrast);
    background-color: var(--background-button);
    padding: 2px 5px 2px 5px;
    border-radius: 0;
    display: inline-block;
    vertical-align: bottom;
    /* border-left: 4px solid var(--background-button-bright); */
}

.priorbutton {
    display: inline-block;
    border: 4px solid var(--background-table);
    text-align: center;
    border: none;
    color: var(--color-contrast);
    background-color: var(--background-button);
    padding: 4px;
    border-radius: 0;
    vertical-align: bottom;
}

.red {
    background-color: darkred;
    border-bottom: 5px solid darkred;
}

/* #f1 {
    position: fixed;
    right: 0
} */

.selected .text {}

.headdate {
    /* color: black;
  background-color: #10a6d2;
  border-left: 7px solid #10a6d2; */
}

.bottom {
    padding-top: 90px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 90px;
    font-size: 16px;
    font-family: 'Noto Sans Mono', monospace;
    color: gray;
}

.bottom a {
    color: gray;
}



.autocomplete {
    width: 100%;
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete div, .autocomplete div strong {
    color: var(--color-contrast);
}

.autocomplete-items {
    max-height: 31.4vh;
    overflow: scroll;
    position: absolute;
    border: 1px solid var(--background-area);
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.justClicked {
    background-color: lightblue;
    /* border       : 1px solid blue !important; */
}

.justClicked2 {
    background-color: lightgreen;
}

label.mainbutton.timebutton {
    text-align: center;
    display: inline-block;
}


.dateinp {
    background: white;
    box-sizing: border-box;
    padding: 2px 5px 2px 5px;
    border: 4px solid var(--background-area);
    /* border-left: 4px solid var(--background-area); */
}

.mainbutton {
    font-size: 12pt;
    box-sizing: border-box;
    margin: 0;
    border: 4px solid var(--background-table);
    border-left: 4px solid var(--background-area);
    text-align: center;
    color: var(--color-contrast);
    border-radius: 0;
    display: inline-block;
    vertical-align: bottom;
    background: var(--background-button);
    margin-right: 5px;
    width: 100%;
    padding: 4px;
}

.ready {
    color: var(--forth);
}

.radiopriority {
    /* margin: -4px;
    border: 4px solid var(--background-table); */
    width: 20%;
}

input+label {
    color: var(--color-contrast);
    padding-top: 2px;
    padding-bottom: 4px;
    margin: -4px;
    border: 4px solid var(--background-table);
    border-left: 4px solid var(--background-area);

}


.priorbutton {
    overflow: hidden;

}

input[type=radio] {
    display: none;
}

input[type=radio]+label {
    width: 100%;
    display: inline-block;
}

label.readylabel {
    -webkit-box-sizing: border-box;
    /* Safari, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

.calendar3 {
    background: var(--background-table);
    width: 100%;
    text-align: center;
}

.calendar3 thead tr:last-child {
    font-size: small;
    color: rgb(85, 85, 85);
}

.calendar3 tbody td {
    font-family: 'Noto Sans Mono', monospace;
    color: var(--forth);
}

.calendar3 tbody td:nth-child(n+6), #calendar3 .holiday {
    color: var(--second);
}

.calendar3 button.calendarblock.planed {
    /* background: blanchedalmond; */
    background: var(--background-area);
}

.calendar3 button.calendarblock.highlightedday {
    /* background: var(--ninth); */
    border-color: var(--forth);

}

.calendar3 button.calendarblock.today {
    /* background: var(--third); */
    border-color: gray;

}

.calendarblock {
    border: 2px solid var(--background-table);
    margin: -2x;
    /* color: whitesmoke; */
    background-color: transparent;
    border-radius: 0;
    width: 100%;
    font-family: 'Noto Sans Mono', monospace;
}

.rank {
    font-size: 10.8pt;
    color: gray;
}

.time {
    border: 2px solid var(--background-area);
    padding-left: 2px;
    padding-right: 2px;
    color: white;
    color: gray;
    font-size: 11.4pt;
    font-family: 'Noto Sans Mono', monospace;
    text-align: left;
}

.bfirst>input+label {

    border-left: 4px solid var(--background-area);
    border-top-color: var(--first);
    border-bottom-color: var(--background-area);
}

.bfirst>input[type=radio]:checked+label {
    border-bottom-color: var(--first);
    border-top-color: var(--background-area);
}


.bsecond>input+label {
    border-left: 4px solid var(--background-area);

    border-top-color: var(--second);
    border-bottom-color: var(--background-area);
}

.bsecond>input[type=radio]:checked+label {
    border-bottom-color: var(--second);
    border-top-color: var(--background-area);
}


.bthird>input+label {
    margin: -4px;
    border: 4px solid var(--background-area);
    border-top-color: var(--third);
    border-bottom-color: var(--background-area);
}

.bthird>input[type=radio]:checked+label {
    border-bottom-color: var(--third);
    border-top-color: var(--background-area);
}

.bforth>input+label {
    margin: -4px;
    border: 4px solid var(--background-area);
    border-top-color: var(--forth);
    border-bottom-color: var(--background-area);
}

.bforth>input[type=radio]:checked+label {
    border-bottom-color: var(--forth);
    border-top-color: var(--background-area);
}

.bfifth {
    border-bottom-color: #1B9AAA;

    border-bottom-color: #FFC43D;
}

.bninth>input+label {
    margin: -4px;
    border: 4px solid var(--background-area);
    border-top-color: var(--ninth);
    border-bottom-color: var(--background-area);
}

.bninth>input[type=radio]:checked+label {

    border-bottom-color: var(--ninth);
    border-top-color: var(--background-area);
}

.btenth {
    border-bottom-color: #37174F;
}

.past {
    color: var(--old);
}

.profitinp {
    padding-right: 0;
    box-sizing: border-box;
    width: 4em;
}

.tdtask {
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#newtaskbutton {
    border: none;
    background: url("plus.png") center;
    background-color: var(--third);
    background-size: 100% auto;
    border-radius: 50%;
    position: fixed;
    width: 13vh;
    height: 13vh;
    max-height: 13vw;
    max-width: 13vw;
    bottom: 15px;
    right: 15px;
    font-size: 13vh;
    font-family: 'Noto Sans Mono', monospace;
}

#telegramlogin {
    text-align: center;
    padding-top: 70px;
}

.search, #newtaskbutton, #scrollTopButton {
    display: none;
}

.input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    vertical-align: top;
    box-sizing: border-box;
    border-style: inset;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 5px solid var(--background-area);
    border-bottom: 10px solid var(--background-area);
    border-left: none;
    border-right: none;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 11pt;
    background: var(--background-area);
    margin: 0;
    box-shadow: none;
    outline: none;
}

.header {
    font-family: 'Noto Sans Mono', monospace;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    text-align: left;
    font-size: 12pt;
    color: gray;
    /* display: none; */
}

.date {
    background: var(--background-table);
    text-align: center;
    text-transform: uppercase;
}

.textareacontainer {
    background: var(--background-area);
    text-align: left;
    margin: 0.5em;
}

.fiveblock {
    width: 20%;
    display: inline-block;
}

.mainbuttonblock {
    width: 33.3%;
    /* width: 25%; */
    display: inline-block;
}

.selected>tbody>tr>td.taskmarker {
    border-color: var(--background-table)
}

#opnslistcont {
    max-height: 20ex;
    overflow: auto;
}

.t1 {
    border-radius: 0;
    color: var(--color-main);
    border: none;
    padding: 5px;
}

.focused {
    height: 1px;
}

td.focushead {
    height: 1px;
    word-wrap: break-word;
}

.focustimer {
    position: relative;
    width: 5em;
    height: calc(100% - 17px);
    background: var(--background-main);
    margin-right: 9px;

    font-family: 'Noto Sans Mono', monospace;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.focustimer div {
    color: gray;
    font-size: 11.4pt;
}

#buttoncontainer{
    font-size: 13.5pt;
    max-width: 65em;
width: 100%;
position: fixed;
bottom: 0;
left: 50%;
    transform: translateX(-50%);
}

.calendarmark{
/* margin-top: -7px;
position: absolute;
font-size: 19pt; */
}

.markforth{
color: var(--forth);
}

.marksecond{
color: var(--second);
}