@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("back.jpg");
    --plus-image: url("img/plus.png");
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url("back_dark.jpg");
    --plus-image: url("img/plus_dark.png");
  }
}
* {
  font-family: "Open Sans", sans-serif;
}

.bgimg {
  background-image: var(--background-image);
}

.plusimg {
  background-image: var(--plus-image);
  background-position: center;
  background-size: 100% auto;
}

.checkmark::after {
  content: "";
  display: none;
  left: 1px;
  top: -1px;
  width: 2px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Show the checkmark when checked */
input:checked + .checkmark {
  background-color: #2196f3;
}

input:checked + .checkmark::after {
  display: block;
}

.oswald {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1em;
  color-scheme: light dark;
}

.fontmono {
  font-family: "Roboto Mono", monospace;
}

.fontaccent {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1em;
}

#edit div {
  @apply px-1 sm:px-20;
}
#edit div:not(:first-child) {
  @apply text-sm;
}

#edit div:first-child {
  font-size: 1.5rem;
  @apply text-center;
}

#edit div:first-child:not(:only-child) {
  @apply mb-8;
}

#fromEdit:empty::before {
  content: attr(data-placeholder);
  @apply block h-full text-neutral-500 italic;
}
#toEdit:empty::before {
  content: attr(data-placeholder);
  @apply block h-full text-neutral-500 italic;
}

#moreImportantEdit:empty::before {
  content: attr(data-placeholder);
  @apply block h-full text-neutral-500 italic;
}
#lessImportantEdit:empty::before {
  content: attr(data-placeholder);
  @apply block h-full text-neutral-500 italic;
}

.corner-box-bottom-right {
  background-image: linear-gradient(to bottom right, transparent 50%, #6b7280 50%);
  background-repeat: no-repeat;
  background-size: 0.5em 0.5em;
  background-position: bottom right;
  border-bottom-right-radius: 0;
}

.corner-box-top-left {
  background-image: linear-gradient(to top left, transparent 50%, #6b7280 50%);
  background-repeat: no-repeat;
  background-size: 0.5em 0.5em;
  background-position: top left;
  border-top-left-radius: 0;
}

.corner-box-both-corners {
  background-image:
    linear-gradient(to bottom right, transparent 50%, gray 50%), linear-gradient(to top left, transparent 50%, gray 50%);
  background-repeat: no-repeat, no-repeat;
  background-size:
    0.5em 0.5em,
    0.5em 0.5em;
  background-position:
    bottom right,
    top left;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
}

body {
  touch-action: pan-y;
}

.break-word {
  word-break: break-word;
}

#timeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  @apply bg-neutral-400;
}

.button-gray {
  @apply oswald fontaccent uppercase text-base text-clip overflow-hidden p-1 text-black dark:text-neutral-100 bg-neutral-50 dark:bg-neutral-900 text-center block border-white dark:border-black rounded-none border-b-02rem peer-checked:border-b-02rem peer-checked:border-accent peer-checked:bg-neutral-50 dark:peer-checked:bg-neutral-900  dark:peer-checked:border-accent active:border-b-accent dark:active:border-b-accent active:border-b-accent dark:active:border-b-accent transition-colors duration-100;
}
.button-light {
  @apply oswald fontaccent uppercase text-base text-clip overflow-hidden p-1 text-black dark:text-neutral-100 border-white dark:border-black rounded-none text-center inline-block border-b-02rem active:border-b-accent dark:active:border-b-accent  cursor-pointer;
}
.radio-gray {
  @apply oswald whitespace-nowrap fontaccent uppercase text-base text-clip overflow-hidden w-full p-1 text-black dark:text-neutral-100 border-white dark:border-black border-b-02rem text-center block cursor-pointer bg-neutral-50 dark:bg-neutral-900 peer-checked:border-accent peer-checked:bg-neutral-50 dark:peer-checked:bg-neutral-900  dark:peer-checked:border-accent active:border-b-accent dark:active:border-b-accent active:border-b-accent dark:active:border-b-accent transition-colors duration-100;
}
radio-compliment {
  @apply oswald whitespace-nowrap fontaccent uppercase text-base text-clip overflow-hidden w-full p-1 text-black dark:text-neutral-100 border-white dark:border-black border-b-02rem text-center block cursor-pointer bg-neutral-50 dark:bg-neutral-900 peer-checked:border-compliment peer-checked:bg-neutral-50 dark:peer-checked:bg-neutral-900 dark:peer-checked:border-compliment active:border-b-compliment dark:active:border-b-compliment transition-colors duration-100;
}
