@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("img/back.jpg");
    --plus-image: url("img/plus.png");
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url("img/backdark.jpg");
    --plus-image: url("img/plusdark.png");
  }
}
* {
  font-family: "Open Sans", sans-serif;
}

.bgimg {
  background-image: var(--background-image);
}

.plusimg {
  background-image: var(--plus-image);
  background-position: center;
  background-size: 100% auto;
}

.checkmark::after {
  content: "";
  display: none;
  left: 1px;
  top: -1px;
  width: 2px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Show the checkmark when checked */
input:checked + .checkmark {
  background-color: #2196f3;
}

input:checked + .checkmark::after {
  display: block;
}

input {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1em;
  color-scheme: light dark;
}

.fontmono {
  font-family: "Roboto Mono", monospace;
}

.fontaccent {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1em;
}

#edit div:not(:first-child) {
  @apply text-sm;
}

#edit div:first-child {
  @apply pb-2;
}

#fromEdit:empty::before {
  content: attr(data-placeholder);
  @apply block h-full text-neutral-500 italic;
}
#toEdit:empty::before {
  content: attr(data-placeholder);
  @apply block h-full text-neutral-500 italic;
}

#moreImportantEdit:empty::before {
  content: attr(data-placeholder);
  @apply block h-full text-neutral-500 italic;
}
#lessImportantEdit:empty::before {
  content: attr(data-placeholder);
  @apply block h-full text-neutral-500 italic;
}

.corner-box-bottom-right {
  background-image: linear-gradient(to bottom right, transparent 50%, gray 50%);
  background-repeat: no-repeat;
  background-size: 0.5em 0.5em;
  background-position: bottom right;
  border-bottom-right-radius: 0;
}

.corner-box-top-left {
  background-image: linear-gradient(to top left, transparent 50%, gray 50%);
  background-repeat: no-repeat;
  background-size: 0.5em 0.5em;
  background-position: top left;
  border-top-left-radius: 0;
}

body {
  touch-action: pan-y;
}

.break-word {
  word-break: break-word;
}

#timeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #d36e70;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
}