@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("img/back.jpeg");
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url("img/backdark.jpeg");
  }
}
body,
html {
  margin: 0;
  overflow: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

* {
  font-family: "IBM Plex Sans", sans-serif;
}

.bgimg {
  background-image: var(--background-image);
}

.plusimg {
  background-image: url("img/plus.png");
  background-position: center;
  background-size: 100% auto;
}

.checkmark::after {
  content: "";
  display: none;
  left: 1px;
  top: -1px;
  width: 2px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input {
  font-family: "Noto Sans Mono", monospace;
}
/* Show the checkmark when checked */
input:checked + .checkmark {
  background-color: #2196f3;
}

input:checked + .checkmark::after {
  display: block;
}

.notomono {
  font-family: "Noto Sans Mono", monospace;
}

#fromEdit div,
#toEdit div {
  @apply mx-2;
}
