body {
  background: black;
  color: whitesmoke;
  font-size: 16pt;
  font-family: Verdana;
  margin: 0;
}

#tasks {}

.list {
  margin: auto;
  text-align: left;
  width: 600px;
}

select {
  font-size: 20px;
  background: black;
  color: white;
}

option:checked {
  color: red;
}

#taskheader {
  position: fixed;
  top: 0;
  background: black;
}

.newtask {
  font-style: italic;
}

.tags {
  font-size: 10pt;
  font-style: italic;
}

.tag {
  font-size: 10pt;
  font-style: italic;
  background: #333;
  padding: 2px;
  color: grey;
}

.opns {}

.opn {
  font-size: 10pt;
  font-style: italic;
  background: #333;
  padding: 2px;
  color: grey;
}

.arr {
  font-size: 10pt;
}

.ready {
  border-radius: 0px;
  /* background: #121 !important; */
  /* color: palegreen !important; */
  border-RIGHT: solid 7px palegreen !important;
}

.nonblocked {
  background: none;
}

input[type="checkbox"] {
  vertical-align: middle;
  width: 50px;
  /*Desired width*/
  height: 50px;
  /*Desired height*/
  cursor: pointer;
}

.editor {
  top: 0;
  position: fixed;
  font-size: 20pt;
}

.input {
  border: none;
  font-size: 10pt;
  background: #333;
  color: whitesmoke;
}

.text {
  width: 100%;
  /* margin: 0px 15px; */
  background-color: transparent;
  border: none;
  color: white;
  text-align: left;
  font-size: 16pt;
  padding-right: 20px;
}
.newtask {
  width: 100%;
  /* margin: 0px 15px; */
  background-color: transparent;
  border: none;
  color: white;
  text-align: left;
  font-size: 16pt;
  padding-right: 20px;
}

.text:hover {
  cursor: pointer;
}

.inputtags {}

.inputtext:focus {
  /* color:red; */
  width: 200%;
  height: 300px;
}

.clock {
  position: fixed;
  top: 40px;
  right: 0;
}

#status {
  position: fixed;
  right: 0;
  top: 60px;
}

.date {
  padding: 1px;
  background: #222;
  text-align: center;
  font-size: 12pt;
  color: gray;
  display: block;
}
.red{
  background-color: #150000;
  border-right: 5px solid darkred;
}
.first {
  border-left: 7px solid rgb(250, 126, 194);
}

.second {
  border-left: 7px solid #333;

}

.third {
  border-left: 7px solid darkred ;

}

.forth {
  border-left: 7px solid darkcyan ;

}

.fifth {
  border-left: 7px solid darkgoldenrod;
}

.sixth {
  border-left: 7px solid darkgreen;
}

.seventh {
  border-left: 7px solid darkmagenta;

}

.eighth {
  border-left: 7px solid darkblue;

}

.ninth {
  border-left: 7px solid gray;
  /* background-color: #000000; */
  /* border-right: 5px solid darkgreen; */
}

.tenth {
  border-left: 7px solid rgb(255, 197, 142);

  /* background-color: #000000; */
  /* border-right: 5px solid darkgreen; */
}

.eleventh {
  border-left: 7px solid white;

  /* border-right: 5px solid darkgreen; */
}

.twelfth {
  border-left: 7px solid rgb(116, 175, 67);
}

.cantdo {
  color: grey;
}

.selected {
  background-color: #232333;
  /* background-color: #011619; */
  /* border-right: 5px solid whitesmoke; */
  /* border-radius: 0; */
}

.delete {}

input {
  font-size: 10pt;
}

button {
  font-size: 12pt;
  border-radius: 10px;
}

.selected .text {}